<ion-view  view-title="{{ 'CONTACT_DETAILS' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" menu-toggle="left"><span class="icon ion-navicon"></span></button>
  </ion-nav-buttons>
   <ion-content>
    <ion-scroll direction="y" paging="true" ng-style="{width: getWidth(), height: getHeight()}">
      <div ng-style="{height: getTotalHeight()}">
        <div class="scroll-page center" ng-style="{width: getWidth(), height: getHeight()}">
   		  <div class="list list-inset">
        	    <label class="item item-input item-floating-label">
   				   <span class="input-label">Name</span>
          		   <input type="text" ng-model="selectedContact.name" placeholder="Name" required/>
        		</label>
        		<label class="item item-input item-floating-label">
   				   <span class="input-label">Phone</span>
          		   <input type="tel" ng-model="selectedContact.phone" placeholder="Phone" />
        		</label>
        		<label class="item item-input item-floating-label">
   				   <span class="input-label">Car registration</span>
          		   <input type="tel" ng-model="selectedContact.rego" placeholder="Car rego" />
        		</label>
        		<label class="item item-input item-stacked-label">
   				   <span class="input-label">Notes</span>
   				   <textarea class="form-control editor" rows="6" ng-model="selectedContact.notes" placeholder="Note Content" required></textarea>
        		</label>
        		
        		<ul class="list">
				  <li class="item item-toggle">
     				 Favourite
     				 <label class="toggle">
				       	<input type="checkbox" ng-model="selectedContact.isFavorite">
   						<div class="track">
         					<div class="handle"></div>
    					</div>
 					 </label>
 				   </li>
 				</ul>

     				
      	
    		 </div>  
    		 <button class="button button-full button-positive icon ion-android-done" ng-click="saveContact()">Apply</button>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>