<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">Language</ion-item>
      <ion-radio ng-model="settings.lang" ng-value="'en'" ng-change="setLanguage()">English</ion-radio>
      <ion-radio ng-model="settings.lang" ng-value="'de'" ng-change="setLanguage()">Deutsch</ion-radio>
      <ion-radio ng-model="settings.lang" ng-value="'ua'" ng-change="setLanguage()">Українська</ion-radio>
      <div class="item item-divider">Some setting goes here<span class="badge badge-dark">{{settings.days - 1}}</span></div>
      <div class="item range range-positive">
        2 <input type="range" name="days" ng-model="settings.days" min="2" max="8" value="8"> 8
      </div>
      <!-- <div class="item item-button-right">Favorites <button class="button button-small" ng-click="canDelete = !canDelete">{{canDelete ? 'Done' : 'Edit'}}</button></div> -->
    </ion-list>
    
    <small>
    <p class="padding">Application powered by <a href="http://ionicframework.com/">Ionic Framework</a></p>
    </small>
  </ion-content>
</ion-view>
